
html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
    font-family: 'Noto Sans', sans-serif;
    transition: background-color 0.2s ease-in-out;
}

a {
  color: inherit;
  text-decoration: underline;
  color: rgb(87, 87, 124);
}

button{
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}